<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>留⾔⾸⻚</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
<div class="total">
    <div id="header" class="header" style="background: url(../public/img/carousel.jpg) no-repeat;">
        {{ if user }}
        <span>Hi: {{ user.nickname }}</span>
        <a href="logout">退出</a>
        {{ else }}
        <a href="login">登录</a>
        <a href="register">注册</a>
        {{ /if }}
    </div>
    <div id="nav" class="nav">
        <button id="home_page">留⾔⾸⻚</button>
        <!--<form id="search" class="search" method="post">-->
            <!--<button id="key" class="key">关键字</button>-->
            <!--<input type="text" name="key" class="input" value="">-->
            <!--<input type="submit" value="搜索" class="btn_search" id="btn_search">-->
        <!--</form>-->
    </div>
    <div class="main">
        <div class="position">
            <a href="javascript:;">留⾔⾸⻚ >>></a>
            <a href="javascript:;">河北经贸⼤学</a>
        </div>
        <div class="addButton">
            <a href="add" class="add"><span>&#0043</span>写新留⾔</a>
        </div>
        <div class="orgName">
            <span>河北经贸⼤学</span>
        </div>
        <div class="clear"></div>
        <!--管理员登录的时候可以查看最新留⾔和回复，普通⽤户可以查看最新留
       ⾔和查看⾃⼰的留⾔-->
        <div class="memberTab">
            <a href="javascript:;">最新留⾔</a>
            <a href="javascript:;">回复我的</a>
            <a href="javascript:;">我的留⾔</a>
        </div>
        {{ each comments}}
        <div class="booklist">
            <div class="face">
                <span><img src="../public/img/avatar-default.png" alt=""></span>
                <p>{{ $value.nickname }}</p>
            </div>
            <div class="content">
                <h3>
                    <span class="number">留⾔编号: <a href="#">{{ $index +1}}</a> </span>
                    <span class="date">⽇期: {{ $value.dateTime }} </span>
                </h3>
                <h2>
                    <span>标题: {{ $value.title }}</span>
                    <a href="#"></a>
                </h2>
                <p>{{ $value.content }}</p>
                <!--<textarea name="" id="" cols="30" rows="10"></textarea>-->
                <!--<button id="comment" class="comment">评论</button>-->
            </div>
        </div>
        {{ /each }}
        <div class="page">
            10条记录 1/5 ⻚
            <a href="javascript:;">&lt;&lt;上⼀⻚</a>
            <a href="javascript:;">1</a>
            <a href="javascript:;">2</a>
            <a href="javascript:;">3</a>
            <a href="javascript:;">4</a>
            <a href="javascript:;">5</a>
            <a href="javascript:;">下⼀⻚&gt;&gt;</a>
            <a href="javascript:;">最后⼀⻚</a>
        </div>
    </div>
</div>
</body>
<script src="../node_modules/jquery/dist/jquery.js"></script>
<script>

</script>
</html>