<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
        }
        #login {
            padding-top: 200px;
            line-height: 40px;
            text-align: center;
        }
        #login h3 {
            text-align: center;
        }
        #login div {
            text-align: center;
        }

    </style>
</head>
<body>
<div id="login" class="login">
    <img src="../public/img/biaoti.png" alt="">
    <div style="margin-top: 82px;">
        <input id="username" type="text" placeholder="请输入用户名" value="" autocomplete=""><br>
        <input id="password" type="password" placeholder="密码" value=""><br>
        <button id="sign_in" class="sign_in">登录</button>
        <button id="sign_up" class="sign_up">注册</button>
    </div>
</div>
</body>
